        :root {
            --ft-color: #FFFFFF;
            font-family: "Mulish";
            ;
        }

        * {
            box-sizing: border-box;
        }

        /* body*/
        body {
            margin: 0;
            font-family: "Mulish";
        }

        /*background image*/
        #bg-image {
            position: fixed;
            width: 100%;
            z-index: -1;
            left: 0;
            top: 0;
            height: 100%;
        }

        /*header*/
        .header {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 0px 70px;
            position: sticky;
            top: 0;
            z-index: 1;
        }

        .header-wrapper {
            background-color: rgba(38, 19, 59, 0.6);
        }

        /*navbar*/
        .navbar-container {
            display: flex;
            align-items: center;
        }

        .navbar>a {
            display: inline-block;
            margin: 0 10px;
            padding: 0 10px 0 0;
            font-size: .85rem;
            color: var(--ft-color);
            cursor: pointer;
            transition: .7s;

        }

        #navBar.scrolled {
            background-color: rgb(90, 59, 140);
        }

        .navbar>a:hover {
            text-decoration: underline;
        }

        /*DROP DOWN CONTENT, EDIT CODE BELOW*/
        /*Pi brower contennt*/
        .navbar>span {
            margin: 0px 10px;
            border-bottom: 1px solid transparent;
            transition: .9s;
        }

        .navbar>span>a {
            font-size: .85rem;
        }

        .navbar>span:hover {
            border-bottom: 1px solid #FBB44A;
        }

        .pi-browser {
            position: relative;
            cursor: pointer;
        }

        .pi-browser:hover .pi-browser-content,
        .ecosystem:hover .ecosystem-content,
        .community:hover .community-content {
            display: block;
            opacity: 1;
        }

        .pi-browser-text {
            color: white;
            display: inline-block;
            height: 30px;
        }

        .pi-browser-content {
            position: absolute;
            top: 140%;
            left: -9px;
            border-radius: 5px;
            background-color: white;
            display: none;
            padding: 20px 25px;
            right: -90px;
        }

        .pi-browser-content>a {
            display: block;
            text-decoration: none;
            color: black;
            line-height: 2;
            font-size: 14px;
            text-wrap: nowrap;
        }

        /*ecosysyem content*/

        .ecosystem {
            position: relative;
            cursor: pointer;
        }

        .ecosystem-text {
            color: white;
            display: inline-block;
            height: 30px;
        }

        .ecosystem-content {
            position: absolute;
            top: 140%;
            left: -9px;
            border-radius: 5px;
            background-color: white;
            display: none;
            padding: 20px 25px;
            right: -90px;
            opacity: 0;
            transition: .5s;

        }

        .ecosystem-content>a {
            text-decoration: none;
            color: black;
            line-height: 2;
            font-size: 14px;
        }

        /*Community content*/
        .community {
            position: relative;
            cursor: pointer;
        }

        .community-text {
            color: white;
            display: inline-block;
            height: 30px;
        }

        .community-content {
            position: absolute;
            background-color: white;
            top: 140%;
            left: -9px;
            right: -90px;
            border-radius: 5px;
            padding: 20px 25px;
            display: none;
        }

        .community-content>a {
            text-decoration: none;
            color: black;
            line-height: 2;
            text-wrap: nowrap;
            display: block;
            font-size: 14px;

        }

        /*fixed one*/
        .fixed {
            position: fixed;
            left: 0;
            top: 0;
            height: 0;
            width: 100%;
            font-weight: bold;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: rgba(89, 59, 139, 0.83);
            overflow: hidden;
        }

        .socials-one>a {
            color: white;
        }

        /*fixed two(2)*/
        .search-container {
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            height: 0;
            background-color: rgba(89, 59, 139);
            z-index: 1;
            overflow: hidden;
            transition: .5s;
        }

        .search-container>input {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 70%;
            padding: 0px 50px 0px 0px;
            height: 50px;
            border-style: none none solid none;
            border-bottom-color: gold;
            background-color: rgba(89, 59, 139);
            font-size: 1.2rem;
            outline: none;
        }

        /*close*/
        .times-close {
            font-size: 30px;
            display: flex;
            justify-content: end;
            padding-right: 35px;
            color: #FFFFFF;
            cursor: pointer;
        }

        /* link menu items*/
        .link-menu-items>a {
            color: #FFFFFF;
            display: block;
            font-size: 20px;
            margin: 0px 0px 14px;
        }

        /*socials*/
        /*hambuger menu*/
        .change .bar1 {
            transform: translate(0, 3.5px) rotate(-45deg);
        }

        .change .bar2 {
            transform: translate(0, -3.5px) rotate(45deg);

        }

        .change .bar3 {
            opacity: 0;

        }

        .hambuger-menu {
            margin-left: 9px;
        }

        .hambuger-menu>div {
            border: 1px solid;
            width: 20px;
            margin: 5px;
            transition: .5s;
        }

        .hambuger-menu>.bar3 {
            width: 15px;
        }

        .search>.fa-solid,
        .hambuger-menu {
            color: var(--ft-color);
            font-size: 18px;
        }

        .fa-solid {
            padding: 0 10px;
        }

        .hambuger-menu {
            padding: 0px 0px 0px 10px;
            display: none;
        }

        .socials>a {
            display: block;
            margin-left: 8px;
            color: var(--ft-color);
            font-size: .8rem;
        }

        .socials {
            display: flex;
            margin: -9px 0 0 30px;
            align-self: center;
        }

        .fa-x-twitter {
            transition: 0.6s;
            transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
            transform-style: preserve-3d;
        }

        .fa-x-twitter:hover {
            transform: rotateX(180deg);
            color: #FAC100;
        }

        .search__hambuger-menu {
            padding-left: 25px;
            display: flex;
            flex-direction: row;
            justify-content: baseline;
        }

        /*pi logo code below*/
        .pi-logo {
            display: inline-block;
            max-width: 145px;
            padding: 8px 0;
            margin: 0px 24.0986px 0px 0px;
            cursor: pointer;
        }

        .pi-logo>img {
            font-size: 20px;
            width: 100%;
        }

        /*pi video code below*/
        .pi-video-container {
            position: relative;
            max-width: 325px;
            transition: .5s ease;
        }

        .play-button {
            position: absolute;
            border: 3px solid white;
            border-radius: 50%;
            height: 80px;
            width: 80px;
            pointer-events: none;
            transition: opacity 0.2s ease,
                left 0.08s ease,
                top 0.08s ease;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .pi-video-container:hover {
            transform: scale(1.05);
        }

        .play-button.returning {
            transition:
                left 0.6s cubic-bezier(0.22, 1, 0.36, 1),
                top 0.6s cubic-bezier(0.22, 1, 0.36, 1),
                opacity 0.15s ease;
        }

        .play {
            position: absolute;
            border-style: solid;
            border-width: 10px;
            border-color: transparent transparent transparent white;
            top: 50%;
            left: 60%;
            transform: translate(-60%, -60%);
        }

        .pi-video img {
            width: 100%;
            margin: 10px;
        }

        .pi-video {
            display: inline-block;
            max-width: 100%;
        }

        /*wpb wrapper containe*/
        .wpb-wrapper-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .wpb-wrapper h1 {
            font-size: 65px;
            text-wrap: wrap;
            margin: 0 0 7px;
            text-transform: capitalize;
            max-width: 800px;
            color: var(--ft-color);
        }

        .wpb-wrapper h3 {
            color: white;
        }

        .row-view-desktop h3 {
            color: var(--ft-color);
            font-size: 1.5rem;
        }

        /* download link*/
        .download-link {
            padding: 20px 56px 20px 0;
            font-size: 18px;
        }

        .download-link>a {
            border: solid;
            padding: 20px 56px 20px 54px;
            color: #FAC100;
            border-radius: 5px;
            margin: auto;
            text-decoration: none;
        }

        .download-link>a:hover {
            color: var(--ft-color);
            background-color: #FAC100;
            border: 1px solid #FAC100;
        }

        /*Row view desktop*/
        .row-view-container {
            background-color: #783A8C;
            border: 1PX solid #783A8C;
        }

        .row-view-desktop {
            padding: 60px 114px;
            margin: 0px;
            background-color: #783A8C;
        }

        .row-view-desktop>h3 {
            font-size: 30px;
            display: block;
            text-align: center;
            color: #FFFFFF;
            margin: 0px 0px 8px;
        }

        /* 756px media screen*/
        @media screen and (max-width:756px) {
            .body-container {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .body-container>div {
                max-width: 500px;
                border-radius: 2px;
                margin: 10px 0;
            }

            .body-container .wrapper {
                padding: 10px !important;
            }

            .body-container p {
                font-size: 14px !important;
            }

            .google-play-flex {
                flex-direction: column;
            }
        }

        @media screen and (max-width:1280px) {
            .footer-container {
                flex-direction: column;
            }

            .footer-detail-container {
                margin: 0px 0px !important;
                padding: 0px 90px;
            }
        }

        @media screen and (max-width:1025px) {
            .wpb-wrapper-container {
                flex-direction: column;
                max-width: 650px;
                justify-self: center;
            }

            .wpb-wrapper>h1 {
                font-size: 20px;
            }

            .wrapper-frame-image {
                max-width: 100%;
                flex: 100%;
            }

            .google-play-flex {
                flex-direction: column;
            }

            .wrapper-heading {
                max-width: 100%;
                flex: 100%;
            }

            .wrapper-column-container {
                flex-direction: column;
            }

            .wrapper-main-container {
                padding: 0;
            }

            .navbar-container>.navbar,
            .socials {
                display: none;
            }

            .header {
                justify-content: space-between;
            }

            .download-link {
                justify-content: center;
                align-items: center;
                align-self: center;
            }

            /*view row desktop*/
            .row-view-desktop {
                padding: 0;
            }

            .hambuger-menu {
                display: block;
            }

            .pi-video-container {
                min-width: 100%;
                display: block;
                margin: 10px 0px;
                height: 310px;
                box-sizing: border-box;
                padding: 0px 20px 20px 0;
            }

            .pi-video {
                width: 100%;
                height: 100%;
                display: inline-block;
            }


            .pi-video img {
                width: 100%;
                height: 100%;
                display: inline-block;
                object-fit: cover;
            }

            .play {
                border-left-color: white;
                border-width: 11px 10px 11px 30px;
            }

            .play-button {
                background-color: #000000a6;
                height: 70px;
                border-radius: 20px;
                width: 100px;
                border: none;
            }

            .play-button.returning {
                transition: none;
            }

            .pi-video-container:hover {
                transform: none;
            }
        }

        @media screen and (max-width:540px) {

            .footer-detail-container,
            .footer-container {
                display: flex !important;
                flex-direction: column !important;
                padding: 0px !important;
            }

            .download-banner_container {
                justify-content: space-between !important;
                margin: 9px !important;
            }

            .download-banner {
                padding: 0 !important;
            }
        }

        @media screen and (max-width:400px) {

            .fa-solid,
            .hambuger-menu {
                font-size: 25px;
            }

            .row-view-desktop {
                padding: 0;
            }

            .fixed {
                flex-direction: column;
            }

            .header {
                padding: 0 30px;
            }

            .body-container {
                flex-direction: column;
            }

        }

        /*body container*/
        .body-container>* {
            max-width: 300px;
            background-color: #FFFFFF;
            margin: 0px 10.7031px;
            box-shadow: 0px 8px 15px 0.5px rgba(0, 0, 0, 0.15);
        }

        .body-container p {
            font-size: 1rem;
            color: #676767;
            line-height: 32px;
            margin: 0;
        }

        .body-container .wrapper {
            padding: 37px;
        }

        .body-container {
            background-color: #FFFFFF;
            display: flex;
            justify-content: center;
            margin: -12px 0px 0px 0px;
            padding: 30px 0;
            text-align: center;
            box-sizing: border-box;

        }

        .body-container h3 {
            font-size: 20px;
            margin: 0px 0px 8px;
            color: #444;
        }

        /*wrapper column container*/
        .wrapper-column-container {
            display: flex;
            justify-content: center;

        }

        .wrapper-heading,
        .wrapper-frame-image {
            max-width: 500px;
        }

        .wrapper-heading h3 {
            font-size: 2.1875rem;
            color: #F4AF47;
        }

        .wrapper-heading h5 {
            font-size: 16px;
            color: #FFFFFF;
            line-height: 1.8;
            letter-spacing: 1.5px;
        }

        .wrapper-main-container {
            padding: 60.21px 30px;
            display: flex;
            justify-content: center;
            background: linear-gradient(90deg, #8a348e 0%, #423f88 100%);
        }

        .google-play-flex {
            display: flex;
            justify-content: center;
        }

        .google-play-flex>div {
            padding: 0px 4.375px;

        }

        .google-play-flex>div img {
            width: 100%;
        }

        /*Footer Container*/
        .footer-container {
            display: flex;
            background: #222;
            padding: 75px 0;
        }

        .footer-detail-container {
            display: flex;
            justify-content: center;
            margin: 0px 240px;
            padding: 0px 90px;
        }

        .footer>a {
            color: #cccccc;
            display: block;
            padding: 4px 0px;
            font-size: 16px;
            text-decoration: none;
            line-height: 1.9;
            transition: .5s;
        }

        .footer>a:hover {
            color: #8a348e;
        }

        .detail-one {
            padding: 15px;
            margin: 0px 15px 40px 0px;
        }

        .detail-two {
            padding: 15px;
            margin: 0px 0px 40px;
        }

        .footer-pi-logo {
            max-width: 292.12px;
            justify-content: end;
        }

        /*download banner container*/
        .download-banner_container {
            display: flex;
            justify-content: space-between !important;
            margin: 0px 63px 0px 95.293892px;
            color: #676767;
            font-size: 14px;
        }

        .download-banner {
            position: fixed;
            padding: 10px;
            left: 0;
            bottom: 0;
            width: 100%;
            border-radius: 20px;
            background: #EDEDED;
        }

        .download-button-right-side {
            background: #FBB44A;
            padding: 5px 15px;
        }

        .download-button-right-side>a {
            color: #8a348e;
            text-decoration: none;
        }

        .start-mining {}